<h2 style="color: orange;">About Students Information System - Web Application using Sinatra</h2>
<p style="color: blue;">This web application is developed as an Assignment-3 under COEN 278-Advanced Web Programming under Professor Yuan Wang.</p>
