<h2 style="color: orange;">University's Physical Address</h2>
<p style="color: blue;">Santa Clara University, 500 El Camino Real</p>
<p style="color: blue;">Santa Clara, CA-95050</p>

<h2 style="color: orange;">You can also find us at:</h2>
<p style="color: blue; text-decoration: underline;">www.scu.edu</p>
