

<h1 style="color: orange;"> Title :<%= @com.title %></h1>
<h1 style="color: orange;"> Name :<%= @com.Person %></h1>
<h1 style="color: orange;"> Comment : <%= @com.details %></h1>
<h1 style="color: orange;"> Timestamp : <%= @com.created_at %>
<br/>
<button><a href="/comments"> Back to Comments </a></button>

