<!-- STUDENT RECORDS -->
<h1 style="color: orange; text-decoration: underline;" align="center">Students Record</h1>
<h4 style="color: blue;" align="center"> Currently stored students information </h4>
<% if @records.any? %>
<ul id="students">
<% @records.each do |record| %>
<li><a href="/students/<%=record.id%>"><%=record.first_name%><%=record.last_name %></a></li>
<% end %>
</ul>
<% else %>
<p style="color: red;">No student information saved till now.</p>
<% end %>
<form action="/students/new" align="center">
<input type="submit" value="ADD A NEW STUDENT RECORD" />
</form>
<br />
